@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.active {
  @apply underline;
}

.container {
  @apply md:min-h-[581px];
}

.input-div {
  @apply my-4 flex flex-row items-center w-[90%] md:w-[60%] justify-between;
}

.form-control {
  @apply flex flex-row justify-between;
}

.form-input {
  @apply border-2 border-orange-500 rounded-2xl p-2 basis-2/3;
}

.form-label {
  @apply basis-1/3 capitalize;
}

.btn {
  @apply bg-orange-500 rounded-2xl px-4 py-2;
}

.text-danger {
  @apply text-red-600 font-extrabold;
}
