@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.active {
  @apply underline;
}

.height {
  @apply md:min-h-[581px] py-4;
}

.input-div {
  @apply my-4 flex flex-row items-center  md:w-[60%] justify-between;
}

.form-control {
  @apply flex flex-row justify-between;
}

.form-input {
  @apply border-2 border-color1 rounded-2xl p-2 basis-3/4;
}

.form-label {
  @apply basis-1/4 capitalize;
}

.btn {
  @apply bg-color1 rounded-2xl px-4 py-[6px] uppercase;
}

.btn-red {
  @apply bg-red-400 rounded-2xl px-4 py-1 uppercase;
}

.text-danger {
  @apply text-red-600 font-extrabold;
}

.modal {
  @apply fixed top-0 left-0 w-[100%] h-[100%];
  background: rgba(255, 228, 181, 0.7);
}

.modal_main {
  @apply fixed top-[50%] left-[50%] w-[80%] md:w-[50%] bg-color5 h-auto py-4 text-center rounded-3xl border-color1 border-8 -translate-x-[50%] -translate-y-[50%];
}

.login-btn {
  @apply absolute bottom-2 right-2 bg-white p-1 rounded-xl text-black;
}

.row {
  @apply border-2 border-color1 mt-1 rounded-lg hover:bg-color6;
}

.first-row {
  @apply border-2 border-color1  p-2 rounded-lg bg-color1 text-white font-semibold;
}
